@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <!--<h1 class="display-4">University</h1>-->
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <!--<h1 class="display-4">Wish you well... in Hell!</h1>-->
    <!--<p>Learn about <a href="https://learn.microsoft.com/en-us/aspnet/core/data/ef-mvc/intro?view=aspnetcore-3.1"target=_blank>life is full of PRICELESS moments!</a></p>-->
    <h1 class="display-4">Wish you well... in Hell!</h1>
    <p>Learn about <a href="https://dagnemarkiinekotkas21.thkit.ee"target=_blank>life is full of PRICELESS moments!</a></p>
</div>
